<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %blue{[%t]} %highlight{%-5level} %yellow{%logger{36}} - %msg%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="cloud.notebook" level="debug"/>

        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>
